{% extends 'home.html' %}
{% load static %}

{% block title %} Nosotros {% endblock %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed&display=swap" rel="stylesheet">

    {% block content %}
    <header class="masthead fondo2">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5" style="font-size: 40%;">Sobre Nosotros</h1>
                <div class="card bg-dark mb-3" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text fw-bold mx-auto nosotros-text">
                                Somos una radio que se escucha a nivel mundial, con excelente programación donde escucharas 
                                la mejor música, información, tecnología, farandula y temas de interés. Contamos con los mejores 
                                productores y locutores para su entretenimiento
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="mt-5">
                <audio id="stream" controls preload="none" style="width: 40%;">
                    <source src="https://cloudstream2030.conectarhosting.com/9984/stream" type="audio/mpeg">
                </audio>
            </div>
        </div>
    </header>
    {% endblock %}