{% extends 'home.html' %}
{% load static %}
<head>
    {% block title %} La Television {% endblock %}    
</head>

<body>
    {% block content %}
    <section class="page-section" id="contact">
        <div class="container bg-light">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</body>