{% extends 'home.html' %}
{% load static %}
<head>
    {% block title %} La Television {% endblock %}    
</head>

<body>
    {% block content %}
    <section class="page-section bg-secondary" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase text-white mt-5 mb-5" style="font-size: 38px">La Televisión</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="team-member" >
                        <div class="embed-responsive embed-responsive-21by9">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/playlist?list=PLOKNSlT608tLOUX9yol-K4fnJqFv0_yVX" style="max-width: 600px; max-height: 300px; width: 90%; height: 300px; align-items: center;" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <div class="team-member" >
                        <div class="embed-responsive embed-responsive-21by9">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_p2uQLd_5lY?si=CEJdyjwa5m8ewSEI" style="max-width: 600px; max-height: 300px; width: 90%; height: 300px; align-items: center;" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large">Disfruta de la Televisión!!</p></div>
            </div>
        </div>
    </section>

    <section class="page-section bg-light" id="feed">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase text-black" style="font-size: 38px" >Redes Sociales</h2>
                <p class="card-text text-black mb-5">Síguenos en nuestras redes!!</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="team-member" >
                        <div class="mx-auto">
                            <iframe style="width: 90%; height: 325px; max-width: 480px;" src="https://www.instagram.com/rs_television/embed/" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team-member" >
                        <iframe style="width: 90%; height: 325px; max-width: 550px;" src="https://twitframe.com/show?url=https://twitter.com/rs_television/status/1245578401596862465"></iframe>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <section class="page-section bg-secondary" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase text-white mb-3" style="font-size: 38px">La Radio</h2>
            </div>
            <div class="row text-center">
                <div class="mt-5">
                    <audio id="stream" controls preload="none" style="width: 60%; max-width: 500px;"> 
                        <source src="https://cloudstream2030.conectarhosting.com/9984/stream" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <a href="{% url 'home' %}"><img class="img-fluid d-block mx-auto" width="250" height="250" src="{% static 'img/logos_rs/logo_rs.svg' %}" alt="..."/></a>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>